
/* ---------------Overall Setting and Container--------------- */

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #403D58;
  margin: 0;
  padding: 0;
  color: #F2EFEA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  margin: 1em 0em;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

header, main {
  margin: 0px;
}

main {
  background-color: #F2EFEA;
  color: #403D58;
  padding: 2em 0em;
}

/* ---------------Navigation--------------- */

nav {
  background-color: #DBD56E;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
  background-color: #DBD56E;
}

.main-nav ul li a {
  display: block;
  color: #3D3A54;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 10px 0px;
}

.main-nav ul li:hover {
  background-color: #F2EFEA;
}



/* ---------------Main Banner and RWD Adjust--------------- */

.banner-crop {
  overflow: hidden;
}


/* mobile */
@media screen and (min-width: 350px) {
  .container {
    max-width: 260px;
  }
  
  .main-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .main-nav ul li:not(:last-child) {
    border-bottom: 1px solid #3D3A54;
  }

  .banner-crop {
    max-height: 260px;
  }
}


/* tablet */
@media screen and (min-width: 760px) {
  .container {
    max-width: 600px;
  }

  .main-nav ul {
    flex-direction: row;
  }

  .main-nav ul li:not(:last-child) {
    border-right: 1px solid #3D3A54;
    border-bottom: none;
  }

  .banner-crop {
    max-height: 380px;
  }

  img {
    transform: translateY(-80px);
  }
}


/* desktop */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }

  .banner-crop {
    max-height: 600px;
  }
}



/* ---------------Owner Section--------------- */

.owner ul li a {
  color: #403D58;
}



/* ---------------Contact Section--------------- */

label {
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

form p {
  margin: 10px 0px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin: 0.5rem 0rem 1.5rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid #403D58;
  margin: 0.5em 0em;
  padding: 0.8rem;
  text-transform: uppercase;
  color: #403D58;
  font-size: 1em;
}

.form-note {
  font-size: 0.9em;
  margin: 0.2em 0em;
}

form button:hover {
  background-color: #403D58;
  color: #F2EFEA;
  cursor: pointer;
}



/* ---------------Footer--------------- */

.site-footer {
  padding: 1rem 0rem 2rem;
}